In [1]:
# using Kernel PyTorch-1.10
# using Kernel PyTorch-1.10
# using Kernel PyTorch-1.10

from gpn.data import GenomeMSA #, Tokenizer
import gpn.model

from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder, StandardScaler
from transformers import AutoModel #, AutoModelForMaskedLM
import torch
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import csv
import warnings
warnings.filterwarnings('ignore')

%run preprocess_utility.py

device=torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device

device(type='cuda')

In [3]:
model_path = "songlab/gpn-msa-sapiens"
msa_path = "zip:///::/home/sunhuaikuan/ondemand/blue_gpn/examples/msa/89.zarr.zip"
genome_msa = GenomeMSA(msa_path)
model = AutoModel.from_pretrained(model_path).to(device)
model.eval();

Loading MSA...
Loading MSA... Done

Some weights of the model checkpoint at songlab/gpn-msa-sapiens were not used when initializing GPNRoFormerModel: ['cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.bias']
- This IS expected if you are initializing GPNRoFormerModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing GPNRoFormerModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

### Main Function to get Embedding

In [3]:
comp = {'A':1, 'C':2, 'G':3, 'T':4}

max_seqlen=128

def Genosome2Embedding(chrom, pos_start, pos_end, rowid, y):

    msa = genome_msa.get_msa(str(chrom), pos_start, pos_end, strand="+", tokenize=True)
    
    msa = torch.tensor(np.expand_dims(msa, 0).astype(np.int64))
    
    # separating human from rest of species
    input_ids, aux_features = msa[:, :, 0], msa[:, :, 1:]
    
    input_ids = input_ids.to(device)
    aux_features = aux_features.to(device)


    with torch.no_grad():
        last_hidden_state = model(input_ids=input_ids, aux_features=aux_features).last_hidden_state
        
        # Mean Pooling: Compute the mean across the sequence length (dim=1)
        mean_pooled = last_hidden_state.mean(dim=1)  # Shape: (batch_size, embedding_dim)

    feature=np.append(mean_pooled.cpu().numpy(),  [rowid, y]) # chrom, pos_end-pos_start,
    
    return feature

### Output CSV File

In [5]:
def output2CSV(df, csv_Filename):

    if os.path.exists(csv_Filename):
        os.remove(csv_Filename)

    rows=[]
    for index, row in df.iterrows():
        
        chrom=row['CHROM']
        pos_start=row['START']
        pos_end=row['END']
        rowid=row['ROWID']
        y=row['y']
        try:
            embedding  =  Genosome2Embedding(chrom, pos_start, pos_end, rowid, y)
            rows.append(embedding)
    
        except Exception as e:
            print(f"exception caught: {e}"+str(row['CHROM'])+'-'+str(row['START']))
    

        if ((index % 1000) ==0):
            with open(csv_Filename, mode='a', newline='') as file:
                writer = csv.writer(file)
                for row in rows:
                    writer.writerow(row)
            rows=[]
            # progress_bar.update(1)
            print(f"complete index={index}")

    
    with open(csv_Filename, mode='a', newline='') as file:
        writer = csv.writer(file)
        for row in rows:
            writer.writerow(row)

    print(f"Create File: "+csv_Filename)

In [21]:
datafile_path = '../../datasets/task03-genomic-regions/Homo_sapiens.GRCh38.109.txt.gz'  
df = preprocess_home_sapiens_datafile(datafile_path)
df
pd.set_option('display.max_rows', None)
df[['CLUSTER']].value_counts().sort_index(level='CLUSTER').head(100)

CLUSTER
first_exon               4926
first_five_prime_UTR     4952
first_intron             4985
first_three_prime_UTR    4971
ncRNA_gene               4975
pseudogene               4998
smallRNA                 3701
dtype: int64

In [27]:
df[df['CLUSTER']=='first_intron']

     CHROM      START        END          TYPE       CLUSTER  SIZE  ROWID  y
5000    16   57372489   57372639  first_intron  first_intron   150   5000  1
5001    18   57586553   57586703  first_intron  first_intron   150   5001  1
5002    20   63707659   63707809  first_intron  first_intron   150   5002  1
5003     X   75522888   75523038  first_intron  first_intron   150   5003  1
5004    16   84819984   84820134  first_intron  first_intron   150   5004  1
5005    19   13150138   13150288  first_intron  first_intron   150   5005  1
5006    19   29812003   29812153  first_intron  first_intron   150   5006  1
5007    19   11355423   11355573  first_intron  first_intron   150   5007  1
5008    19   18683679   18683829  first_intron  first_intron   150   5008  1
5009    12  123268168  123268318  first_intron  first_intron   150   5009  1
5010     6   43059285   43059435  first_intron  first_intron   150   5010  1
5011     2  208266266  208266416  first_intron  first_intron   150   5011  1
5012     2  231464335  231464485  first_intron  first_intron   150   5012  1
5013     8  140635484  140635634  first_intron  first_intron   150   5013  1
5014     6   43427390   43427540  first_intron  first_intron   150   5014  1
5015     9  130693764  130693914  first_intron  first_intron   150   5015  1
5016    19   47019848   47019998  first_intron  first_intron   150   5016  1
5017     5  177446663  177446813  first_intron  first_intron   150   5017  1
5018     2   73234235   73234385  first_intron  first_intron   150   5018  1
5019     7   44978866   44979016  first_intron  first_intron   150   5019  1
5020     3  179604790  179604940  first_intron  first_intron   150   5020  1
5021    15   68432014   68432164  first_intron  first_intron   150   5021  1
5022     2  169584341  169584491  first_intron  first_intron   150   5022  1
5023    11     236193     236343  first_intron  first_intron   150   5023  1
5024    19    7830232    7830382  first_intron  first_intron   150   5024  1
5025    12    9827480    9827630  first_intron  first_intron   150   5025  1
5026     2  190408354  190408504  first_intron  first_intron   150   5026  1
5027    19   19538264   19538414  first_intron  first_intron   150   5027  1
5028     3  108822785  108822935  first_intron  first_intron   150   5028  1
5029     5  147831522  147831672  first_intron  first_intron   150   5029  1
5030    10   31928682   31928832  first_intron  first_intron   150   5030  1
5031    11   73264500   73264650  first_intron  first_intron   150   5031  1
5032     1   11099720   11099870  first_intron  first_intron   150   5032  1
5033    12  110280965  110281115  first_intron  first_intron   150   5033  1
5034     5  115841957  115842107  first_intron  first_intron   150   5034  1
5035     X   20116749   20116899  first_intron  first_intron   150   5035  1
5036    17   81666751   81666901  first_intron  first_intron   150   5036  1
5037     9  126326861  126327011  first_intron  first_intron   150   5037  1
5038     6   48111048   48111198  first_intron  first_intron   150   5038  1
5039    19   35612743   35612893  first_intron  first_intron   150   5039  1
5040     4   22692924   22693074  first_intron  first_intron   150   5040  1
5041    12   20815673   20815823  first_intron  first_intron   150   5041  1
5042    17   47189145   47189296  first_intron  first_intron   151   5042  1
5043     X   24149644   24149795  first_intron  first_intron   151   5043  1
5044     X  101623126  101623277  first_intron  first_intron   151   5044  1
5045    19   50723522   50723673  first_intron  first_intron   151   5045  1
5046    19   18521920   18522071  first_intron  first_intron   151   5046  1
5047     7   38977908   38978059  first_intron  first_intron   151   5047  1
5048    17   28335339   28335490  first_intron  first_intron   151   5048  1
5049    11   68003947   68004098  first_intron  first_intron   151   5049  1
5050     5  178995124  178995275  first_intron  first_intron   151   5050  1
5051     4   17614663   17614814  first_intron  first_intron   151   5051  1
5052    19   19320985   19321136  first_intron  first_intron   151   5052  1
5053     2  130342014  130342165  first_intron  first_intron   151   5053  1
5054     9  128455186  128455337  first_intron  first_intron   151   5054  1
5055    15   39581078   39581229  first_intron  first_intron   151   5055  1
5056    15   90388246   90388397  first_intron  first_intron   151   5056  1
5057     1  154325552  154325703  first_intron  first_intron   151   5057  1
5058     2  137964158  137964309  first_intron  first_intron   151   5058  1
5059     1   64470792   64470943  first_intron  first_intron   151   5059  1
5060     7  102464713  102464864  first_intron  first_intron   151   5060  1
5061     1  212565333  212565484  first_intron  first_intron   151   5061  1
5062     3  114056376  114056527  first_intron  first_intron   151   5062  1
5063     9  125261809  125261960  first_intron  first_intron   151   5063  1
5064    17   64129975   64130126  first_intron  first_intron   151   5064  1
5065    19   54313016   54313167  first_intron  first_intron   151   5065  1
5066     7  143902026  143902177  first_intron  first_intron   151   5066  1
5067    14   50532874   50533025  first_intron  first_intron   151   5067  1
5068     7   66996832   66996983  first_intron  first_intron   151   5068  1
5069     9   34628916   34629067  first_intron  first_intron   151   5069  1
5070    19   41843577   41843728  first_intron  first_intron   151   5070  1
5071     X  102463124  102463275  first_intron  first_intron   151   5071  1
5072     1  161631054  161631205  first_intron  first_intron   151   5072  1
5073    12    6970941    6971092  first_intron  first_intron   151   5073  1
5074    12   40692441   40692593  first_intron  first_intron   152   5074  1
5075    19   17215356   17215508  first_intron  first_intron   152   5075  1
5076    15   78620712   78620864  first_intron  first_intron   152   5076  1
5077    19   19821600   19821752  first_intron  first_intron   152   5077  1
5078    14   22918998   22919150  first_intron  first_intron   152   5078  1
5079     7   95434877   95435029  first_intron  first_intron   152   5079  1
5080     4  173168810  173168962  first_intron  first_intron   152   5080  1
5081     6   42984553   42984705  first_intron  first_intron   152   5081  1
5082     3   47282943   47283095  first_intron  first_intron   152   5082  1
5083     2  170929252  170929404  first_intron  first_intron   152   5083  1
5084     1   54053607   54053759  first_intron  first_intron   152   5084  1
5085     1   40531636   40531788  first_intron  first_intron   152   5085  1
5086    19   58554809   58554961  first_intron  first_intron   152   5086  1
5087     2    8837479    8837631  first_intron  first_intron   152   5087  1
5088    18   31042591   31042743  first_intron  first_intron   152   5088  1
5089    12   55716045   55716197  first_intron  first_intron   152   5089  1
5090     9  124507248  124507400  first_intron  first_intron   152   5090  1
5091    12   19404065   19404217  first_intron  first_intron   152   5091  1
5092     5   73498407   73498559  first_intron  first_intron   152   5092  1
5093    18   45967176   45967328  first_intron  first_intron   152   5093  1
5094    17   69141744   69141896  first_intron  first_intron   152   5094  1
5095    19   36054134   36054286  first_intron  first_intron   152   5095  1
5096     8   11853328   11853480  first_intron  first_intron   152   5096  1
5097     9  112486967  112487119  first_intron  first_intron   152   5097  1
5098    17   60149941   60150093  first_intron  first_intron   152   5098  1
5099     3   39192445   39192597  first_intron  first_intron   152   5099  1
5100    12  132687641  132687793  first_intron  first_intron   152   5100  1
5101    11     747427     747579  first_intron  first_intron   152   5101  1
5102     1   97920883   97921035  first_intron  first_intron   152   5102  1
5103     1  247007905  247008057  first_intron  first_intron   152   5103  1
5104    19   12365532   12365684  first_intron  first_intron   152   5104  1
5105     1  114854867  114855019  first_intron  first_intron   152   5105  1
5106     9   34646635   34646787  first_intron  first_intron   152   5106  1
5107     X    2500816    2500968  first_intron  first_intron   152   5107  1
5108    19   56272768   56272920  first_intron  first_intron   152   5108  1
5109    19   12802068   12802220  first_intron  first_intron   152   5109  1
5110     X    2691275    2691428  first_intron  first_intron   153   5110  1
5111    16   68737311   68737464  first_intron  first_intron   153   5111  1
5112     5  169583737  169583890  first_intron  first_intron   153   5112  1
5113    16   24729694   24729847  first_intron  first_intron   153   5113  1
5114    19   17267375   17267528  first_intron  first_intron   153   5114  1
5115     7  117322906  117323059  first_intron  first_intron   153   5115  1
5116    17   42154892   42155045  first_intron  first_intron   153   5116  1
5117    12    6943663    6943816  first_intron  first_intron   153   5117  1
5118     3  154121236  154121389  first_intron  first_intron   153   5118  1
5119     2   95402720   95402873  first_intron  first_intron   153   5119  1
5120    16    5097643    5097796  first_intron  first_intron   153   5120  1
5121     9   34589554   34589707  first_intron  first_intron   153   5121  1
5122     X   23743124   23743277  first_intron  first_intron   153   5122  1
5123    20   18587963   18588116  first_intron  first_intron   153   5123  1
5124    15  101295096  101295249  first_intron  first_intron   153   5124  1
5125    18   23437780   23437933  first_intron  first_intron   153   5125  1
5126     8   21913538   21913691  first_intron  first_intron   153   5126  1
5127    10   78029363   78029516  first_intron  first_intron   153   5127  1
5128    11  134253557  134253710  first_intron  first_intron   153   5128  1
5129     1  151909359  151909512  first_intron  first_intron   153   5129  1
5130     9   83956743   83956896  first_intron  first_intron   153   5130  1
5131    11  113706221  113706374  first_intron  first_intron   153   5131  1
5132    18   34976927   34977080  first_intron  first_intron   153   5132  1
5133    19    8308148    8308301  first_intron  first_intron   153   5133  1
5134    19   41796589   41796742  first_intron  first_intron   153   5134  1
5135    10  132397199  132397352  first_intron  first_intron   153   5135  1
5136    10   73782047   73782200  first_intron  first_intron   153   5136  1
5137    19   21358991   21359144  first_intron  first_intron   153   5137  1
5138     2  203535110  203535263  first_intron  first_intron   153   5138  1
5139     1   27383151   27383304  first_intron  first_intron   153   5139  1
5140    17   76376660   76376813  first_intron  first_intron   153   5140  1
5141    19   11798575   11798728  first_intron  first_intron   153   5141  1
5142    17   44656467   44656620  first_intron  first_intron   153   5142  1
5143    17   49576121   49576274  first_intron  first_intron   153   5143  1
5144     X  155071498  155071651  first_intron  first_intron   153   5144  1
5145     2  231707683  231707836  first_intron  first_intron   153   5145  1
5146     3   61251300   61251453  first_intron  first_intron   153   5146  1
5147    19   21142034   21142187  first_intron  first_intron   153   5147  1
5148    13   57147702   57147855  first_intron  first_intron   153   5148  1
5149    13   57141132   57141285  first_intron  first_intron   153   5149  1
5150    13   57160846   57160999  first_intron  first_intron   153   5150  1
5151    13   57167411   57167564  first_intron  first_intron   153   5151  1
5152     7   30752152   30752305  first_intron  first_intron   153   5152  1
5153    19   35748606   35748759  first_intron  first_intron   153   5153  1
5154     1   99970010   99970163  first_intron  first_intron   153   5154  1
5155     2  189661458  189661611  first_intron  first_intron   153   5155  1
5156     5     271669     271822  first_intron  first_intron   153   5156  1
5157    20   56468613   56468767  first_intron  first_intron   154   5157  1
5158    20    5911529    5911683  first_intron  first_intron   154   5158  1
5159     X   72181675   72181829  first_intron  first_intron   154   5159  1
5160    19   20923250   20923404  first_intron  first_intron   154   5160  1
5161     5   94111510   94111664  first_intron  first_intron   154   5161  1
5162     3  132722256  132722410  first_intron  first_intron   154   5162  1
5163     2  203238981  203239135  first_intron  first_intron   154   5163  1
5164    14   75051379   75051533  first_intron  first_intron   154   5164  1
5165     1  100133162  100133316  first_intron  first_intron   154   5165  1
5166     7  138076458  138076612  first_intron  first_intron   154   5166  1
5167     X  101348532  101348686  first_intron  first_intron   154   5167  1
5168    19   11089462   11089616  first_intron  first_intron   154   5168  1
5169    17   67717935   67718089  first_intron  first_intron   154   5169  1
5170    14   58200141   58200295  first_intron  first_intron   154   5170  1
5171    10   26216732   26216886  first_intron  first_intron   154   5171  1
5172     9    6015471    6015625  first_intron  first_intron   154   5172  1
5173    12  109900273  109900427  first_intron  first_intron   154   5173  1
5174    15   74843003   74843157  first_intron  first_intron   154   5174  1
5175     1  150629413  150629567  first_intron  first_intron   154   5175  1
5176     X   71111424   71111578  first_intron  first_intron   154   5176  1
5177    19   57363550   57363704  first_intron  first_intron   154   5177  1
5178     3    9902693    9902847  first_intron  first_intron   154   5178  1
5179     4  152779938  152780092  first_intron  first_intron   154   5179  1
5180    10   68956159   68956313  first_intron  first_intron   154   5180  1
5181    14  104085699  104085853  first_intron  first_intron   154   5181  1
5182    12   69470377   69470531  first_intron  first_intron   154   5182  1
5183    11  118342552  118342706  first_intron  first_intron   154   5183  1
5184    11   72814410   72814564  first_intron  first_intron   154   5184  1
5185    16   70346895   70347049  first_intron  first_intron   154   5185  1
5186    11   65918909   65919063  first_intron  first_intron   154   5186  1
5187     8   56211120   56211274  first_intron  first_intron   154   5187  1
5188    16   29454190   29454344  first_intron  first_intron   154   5188  1
5189     7   64666132   64666286  first_intron  first_intron   154   5189  1
5190     9   32552433   32552587  first_intron  first_intron   154   5190  1
5191     5  179793985  179794139  first_intron  first_intron   154   5191  1
5192    17   40665003   40665157  first_intron  first_intron   154   5192  1
5193    19   12551329   12551483  first_intron  first_intron   154   5193  1
5194    16   81006733   81006887  first_intron  first_intron   154   5194  1
5195     1  114757829  114757984  first_intron  first_intron   155   5195  1
5196    19    3136441    3136596  first_intron  first_intron   155   5196  1
5197    10   12129640   12129795  first_intron  first_intron   155   5197  1
5198    11   66052363   66052518  first_intron  first_intron   155   5198  1
5199    18   12702485   12702640  first_intron  first_intron   155   5199  1
5200     X  153934883  153935038  first_intron  first_intron   155   5200  1
5201    19    6502155    6502310  first_intron  first_intron   155   5201  1
5202     7   90340370   90340525  first_intron  first_intron   155   5202  1
5203    10  124461833  124461988  first_intron  first_intron   155   5203  1
5204     2  106194147  106194302  first_intron  first_intron   155   5204  1
5205    19   21020649   21020804  first_intron  first_intron   155   5205  1
5206     3  196867919  196868074  first_intron  first_intron   155   5206  1
5207     6  149746375  149746530  first_intron  first_intron   155   5207  1
5208     1  175023271  175023426  first_intron  first_intron   155   5208  1
5209    12   68610898   68611053  first_intron  first_intron   155   5209  1
5210     5  138439086  138439241  first_intron  first_intron   155   5210  1
5211     5  157108925  157109080  first_intron  first_intron   155   5211  1
5212    16   14630106   14630261  first_intron  first_intron   155   5212  1
5213     5  119268753  119268908  first_intron  first_intron   155   5213  1
5214    15   83654122   83654277  first_intron  first_intron   155   5214  1
5215     5  132011504  132011659  first_intron  first_intron   155   5215  1
5216     9   15510816   15510971  first_intron  first_intron   155   5216  1
5217    19   42917728   42917883  first_intron  first_intron   155   5217  1
5218     3   14125051   14125206  first_intron  first_intron   155   5218  1
5219    10   97633346   97633501  first_intron  first_intron   155   5219  1
5220     X   19990907   19991062  first_intron  first_intron   155   5220  1
5221    14   20110738   20110893  first_intron  first_intron   155   5221  1
5222     8   86866429   86866584  first_intron  first_intron   155   5222  1
5223     6   32666498   32666653  first_intron  first_intron   155   5223  1
5224    10  122699614  122699769  first_intron  first_intron   155   5224  1
5225     9  136742786  136742941  first_intron  first_intron   155   5225  1
5226    19   12333479   12333634  first_intron  first_intron   155   5226  1
5227    13  114314489  114314644  first_intron  first_intron   155   5227  1
5228    19   57888766   57888921  first_intron  first_intron   155   5228  1
5229    16   81096130   81096285  first_intron  first_intron   155   5229  1
5230     7  127588410  127588566  first_intron  first_intron   156   5230  1
5231    16   23596122   23596278  first_intron  first_intron   156   5231  1
5232    10   38094335   38094491  first_intron  first_intron   156   5232  1
5233    14   51989545   51989701  first_intron  first_intron   156   5233  1
5234    19   40465609   40465765  first_intron  first_intron   156   5234  1
5235     7  108456242  108456398  first_intron  first_intron   156   5235  1
5236    22   19941576   19941732  first_intron  first_intron   156   5236  1
5237    22   26483673   26483829  first_intron  first_intron   156   5237  1
5238    12  120116598  120116754  first_intron  first_intron   156   5238  1
5239     2   36966381   36966537  first_intron  first_intron   156   5239  1
5240     7   56064223   56064379  first_intron  first_intron   156   5240  1
5241     5  112922072  112922228  first_intron  first_intron   156   5241  1
5242    18   48539157   48539313  first_intron  first_intron   156   5242  1
5243     9   34620368   34620524  first_intron  first_intron   156   5243  1
5244     4   99564082   99564238  first_intron  first_intron   156   5244  1
5245    15  100341820  100341976  first_intron  first_intron   156   5245  1
5246     2  241188611  241188767  first_intron  first_intron   156   5246  1
5247    11   69675189   69675345  first_intron  first_intron   156   5247  1
5248     5   69369309   69369465  first_intron  first_intron   156   5248  1
5249     6   44257399   44257555  first_intron  first_intron   156   5249  1
5250    11   78139493   78139649  first_intron  first_intron   156   5250  1
5251     2  108786760  108786916  first_intron  first_intron   156   5251  1
5252    15   63189593   63189749  first_intron  first_intron   156   5252  1
5253     4  183659292  183659448  first_intron  first_intron   156   5253  1
5254    17   79022933   79023089  first_intron  first_intron   156   5254  1
5255    18   14132274   14132430  first_intron  first_intron   156   5255  1
5256     2  152717660  152717816  first_intron  first_intron   156   5256  1
5257    19   44052040   44052196  first_intron  first_intron   156   5257  1

### Load Homo_Sapiens data

In [4]:
datafile_path = '../../datasets/task03-genomic-regions/Homo_sapiens.GRCh38.109.txt.gz'  
df = preprocess_home_sapiens_datafile(datafile_path)

df.loc[df['SIZE'] > max_seqlen, 'END'] = df['START'] + max_seqlen
df.loc[df['SIZE'] > max_seqlen, 'SIZE'] = max_seqlen

df=df.drop(columns=['TYPE','CLUSTER'])
df

      CHROM      START        END  SIZE  ROWID  y
0         7  116953541  116953669   128      0  0
1        12   54241755   54241883   128      1  0
2        20   38033948   38034076   128      2  0
3        15   82659560   82659688   128      3  0
4         9  131579497  131579625   128      4  0
...     ...        ...        ...   ...    ... ..
33713     9  124692442  124692551   109  33713  6
33714     9  128244721  128244830   109  33714  6
33715     X   45746157   45746266   109  33715  6
33716     X   45747015   45747124   109  33716  6
33717     X   66018870   66018979   109  33717  6

[33508 rows x 6 columns]

In [7]:
%%time
output2CSV(df,'./homo_sapiens_gpn_embedding.csv')

complete index=0
complete index=1000
complete index=2000
complete index=3000
complete index=4000
complete index=5000
complete index=6000
complete index=7000
complete index=8000
complete index=9000
complete index=10000
complete index=11000
complete index=12000
complete index=13000
complete index=14000
complete index=15000
complete index=16000
complete index=17000
complete index=18000
complete index=19000
complete index=20000
complete index=21000
complete index=22000
complete index=23000
complete index=24000
complete index=25000
complete index=26000
complete index=27000
complete index=28000
complete index=29000
complete index=30000
complete index=31000
complete index=32000
complete index=33000
Create File: ./homo_sapiens_gpn_embedding.csv
CPU times: user 6min 56s, sys: 1min 25s, total: 8min 22s
Wall time: 35min 52s

### Load CSV File

In [8]:
def load_embedding_file(csv_filename):

    df=pd.read_csv(csv_filename)
    
    column_names = [f'{i}' for i in range(1, df.shape[1]-1)]
    column_names.extend(['ROWID', 'y']) 
    
    df.columns = column_names
    return df

df = load_embedding_file('./homo_sapiens_gpn_embedding.csv')
df

,1,2,3,4,5,6,7,8,9,10,...,761,762,763,764,765,766,767,768,ROWID,y
0,-0.444453,0.829066,0.096076,-0.693920,1.323465,-0.858230,-0.294933,-0.434608,-0.119355,-0.269585,...,-0.447579,-0.130508,0.456571,-0.614223,-0.021212,-0.397703,0.116457,-0.461298,1.0,0.0
1,0.272819,0.866934,0.527317,-0.374678,0.796706,-0.783266,-0.135167,-0.243605,0.309559,0.478524,...,-0.467666,-0.484659,0.188427,-0.111583,-0.280430,-0.540670,-0.369964,0.163323,2.0,0.0
2,0.002897,0.300540,0.363745,0.083066,0.097976,-0.705333,-0.345298,-0.162139,0.272691,0.111771,...,-0.375416,-0.182703,-0.326266,-0.158091,-0.380751,-0.772700,0.031157,0.344509,3.0,0.0
3,-0.497240,0.093710,0.335565,-0.105232,1.134319,-0.539970,-0.541573,-0.415931,-0.286506,0.133382,...,-0.464082,-0.365336,-0.058795,-0.306530,-0.313155,-0.506973,0.349965,-0.236048,4.0,0.0
4,0.285708,0.275770,0.598883,0.461520,0.081254,-1.124011,-0.944545,-0.015475,0.940282,0.396197,...,-0.210003,-0.503278,-0.084990,0.244842,-0.982839,-0.535660,-0.367225,0.574554,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33502,0.021807,0.796965,0.068293,-0.237650,0.083819,-1.799712,-0.451906,0.308115,-0.011921,0.049140,...,-0.217358,-0.197091,0.100965,-0.055664,-0.483156,-0.748016,-0.219737,0.361740,33713.0,6.0
33503,-0.299236,1.391922,0.650065,-0.218609,0.883092,-1.781720,-0.375446,0.310933,0.104638,0.311812,...,-0.361967,-0.592416,0.255129,-0.420886,-0.484935,-0.410109,-0.289352,0.262789,33714.0,6.0
33504,0.068219,1.491318,0.323441,-0.304896,0.715240,-2.110754,-0.510900,0.210548,0.308247,-0.155464,...,0.065997,-0.275441,-0.002474,-0.374743,-1.009526,-0.549350,-0.354674,0.503089,33715.0,6.0
33505,0.238253,1.167527,0.303864,-0.263249,0.213139,-1.957132,-0.377137,0.443044,0.325981,-0.091771,...,0.124397,-0.317400,0.065623,-0.214288,-0.857551,-0.598479,-0.507455,0.492559,33716.0,6.0
33506,0.195493,0.760457,0.755002,-0.047098,0.787859,-2.192991,-0.605822,0.106000,0.323741,0.029610,...,0.137296,-0.454504,0.276555,-0.136469,-0.692727,-0.555557,-0.428819,0.594712,33717.0,6.0